body {
    background-color: antiquewhite;
}

/*//Taget fra TG Renovation 1 års projekt af Jakob, Mikkel, Azat og Gustav*/
.popup {
    margin: 300px auto;
    text-align: center;
    font: 14px Prototype, serif;
    padding: 20px;
    background: rgb(213, 213, 213);
    border-radius: 5px;
    width: 30%;
    bottom: 6cm;
    position: relative;
}

/*//Taget fra TG Renovation 1 års projekt af Jakob, Mikkel, Azat og Gustav*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.61);
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.img.slidez {
    width: 40%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.box-model{
    padding-left: 7px;
    width: 40%;
    border-radius: 10px;
    border: 1.5px blanchedalmond solid;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text-in-borderline{
    color: white;
    padding-left: 1px;
    width: 4ch;
    margin-top: -15px;
    margin-left:5px;
    background-color: #1C1F24;
}