<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="header">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Forside</a></li>
            <li><a href="/createCard">Opret kort</a></li>
            <li><a href="/adminCard">Rediger og slet kort</a></li>
        </ul>
    </div>
</nav>
</body>
</html>