<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="cardTable">
    <table>
        <br/>

        <tr th:each="cardList : ${cardOverview}">
            <td>
                <div>
                    <img th:src="${cardList.imagePath}" height="150px" width="150px" style="float: left;"/>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-sm-7">
                        <h4 th:text="${cardList.name}">
                        </h4>
                    </div>
                    <div class="col-sm-3">
                        <h4 style="margin-left: 175px;">Pris: </h4>
                        <h4 th:text="${cardList.price}" style="margin-left: 175px;"></h4>
                    </div>
                    <div class="col-sm-3" style="width: 800px">
                        <h5 th:text="${cardList.description}">
                        </h5>
                    </div>
                </div>
            </td>

        </tr>
    </table>
</div>
</body>
</html>