<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="fleaMarketTable">
    <table>
        <br/>

        <tr th:each="fleamarketList : ${fleamarketOverview}">
            <td>
                <div>
                    <img th:src="${fleamarketList.imagePath}" height="150px" width="150px" style="float: left;"/>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-sm-7">
                        <h4 th:text="${fleamarketList.name}">
                        </h4>
                    </div>
                    <div class="col-sm-3">
                        <h4 th:text="${fleamarketList.price}" style="margin-left: 175px;"></h4>
                    </div>
                    <div class="col-sm-3" style="width: 800px">
                        <h5 th:text="${fleamarketList.description}">
                        </h5>
                    </div>
                </div>
            </td>

        </tr>
    </table>
</div>
</body>
</html>