<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar">
        <a href="index">Forside</a>
        <a href="card">Kort</a>
        <a href="course">Kursus</a>
        <a href="fleamarket">Loppemarket</a>
        <a href="news">Nyheder</a>
        <a href="about">Om mig</a>
    </nav>
<h3>Farmer Scrap</h3>
</div>

</body>
</html>