<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:mig="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" th:href="@{Stylesheet.css}"/>
    <meta charset="UTF-8">
    <title>Om mig</title>
</head>
<body>

    <header th:replace="fragments/logo :: logo"></header>

    <nav th:replace="fragments/header :: header"></nav>

    <div id="Overskrift" style="margin: 60px">
        <font size="8">
        Om mig
        </font>
    </div>

    <div id="BrødTekst" style="margin: 60px">
        <div style="width: 80%">
        <font size="5"> Lidt om mig:<br>
        Jeg laver kort til alle anledninger, det kan være til fødselsdage, bryllup, konfirmationer, julekort, bare fordi og meget mere.<br>
        Langt de fleste kort bliver til med afsæt i egne ideer, men jeg finder også meget inspiration på Pinterest, hos Scraplings,<br>
        hos andre scrappere, på messer(især SAM) og på nettet i øvrigt.<br>
        <br>
        Min interesse for at lave kort startede for mere end 10 år siden ved at en veninde introducerede mig for foldning af the-poser,<br>
        som blev brugt til pynt på kort. Derfra gik det stærkt og interessen udviklede sig væk fra the-poserne og over mod kort lavet<br>
        med inspiration fra scrapbooking, og ind imellem bliver det også til nogle små albums.<br>
        <br>
        Med tiden er jeg gået fra at have et lille krea-hjørne i stuen til et rigtigt værksted, hvor der er plads til kreative udfoldelser.<br>
        Da jeg bor på landet på en lille gård med mand, heste, katte, høns og mus på loftet, kan værkstedet ikke hedde andet end FarmerScrap.<br>
        <br>
        Har du spørgmål til min side, til mine kort, kurser eller andet, er du meget velkommen til at kontakte mig.<br>
        <br>
        Scrap-glade hilsner<br>
        Gitte<br>
        </font>
        </div>
    </div>
</body>
</html>