<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" th:href="@{Stylesheet.css}"/>
    <meta charset="UTF-8">
    <title>Create card</title>
</head>
<body>

<header th:replace="fragments/logo :: logo"></header>

<nav th:replace="fragments/adminHeader"></nav>


<div style="margin-left: 40px">
    <form method="post" action="createC">
        <div>
            <h7>Overskrift: </h7>
            <br/>
            <input type="text" name="name" >
            <br/>
            <h7 style="margin-left: 30px">Pris:</h7>
            <br/>
            <input type="text"  name="price" style="margin-left: 10px">
        </div>
        <div class="form-group" style="margin-top: 12px">
            Brødtekst: <textarea class="form-control" maxlength="500" rows="6" id="form-controller" name="description" ></textarea>
        </div>
        <div class="form-group">
            Billede URL:<br/> <input type="text" name="URL">
            <input class="addCard" type="submit" value="Tilføj">
        </div>
    </form>
</div>

</body>
</html>