<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" th:href="@{Stylesheet.css}"/>
    <meta charset="UTF-8">
    <title>Nyheder</title>
</head>
<body>

    <header th:replace="fragments/logo :: logo"></header>

    <nav th:replace="fragments/header :: header"></nav>

    <table>
        <tr th:each="newsList : ${newsOverview}">
            <td>
                <div>
                    <img th:src="${newsList.imagePath}" height="200px" width="150px"/>
                </div>
            </td>
            <td>
                <div>
                    <h7 th:text="${newsList.date}"></h7>
                    <div>
                        <h7 th:text="${newsList.headline}"></h7>
                    </div>
                    <br/>
                    <p th:text="${newsList.description}" width="500px"></p>
                </div>
            </td>
            <td></td>
        </tr>
    </table>


</body>
</html>